.plant-item {
  position: relative;

  width: 30%;
  height: 15rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem #dddeda;
  overflow: hidden;
}

.plant-item__cover {
  height: 8rem;
  overflow: hidden;

  text-align: center;
}

.plant-item__cover img {
  width: 100%;

  object-fit: cover;
}

.plant-item__price {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1000;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  color: white;
  font-weight: 700;

  background: #31b572;
}

.plant-item__infos {
  padding: 1rem;

  color: #1a613d;
}

.plant-item__title {
  margin: 0 0 1.5rem 0;
}

.plant-item__scales {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
