.plant-item {
  width: 30%;
  height: 15rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem #dddeda;
  overflow: hidden;

  background: #fffef9;
  transition: box-shadow 300ms, opacity 300ms, transform 300ms;

  cursor: pointer;
}

.plant-item:hover {
  box-shadow: 0 0.75rem 0.75rem #dddeda;

  opacity: 0.8;
  transform: translateY(-0.25rem);
}

.plant-item__cover {
  height: 8rem;
  overflow: hidden;

  text-align: center;
}

.plant-item__cover img {
  width: 100%;

  object-fit: cover;
}

.plant-item__infos {
  padding: 1rem;

  color: #1a613d;
}

.plant-item__title {
  margin: 0 0 1.5rem 0;
}

.plant-item__scales {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
