.plant-item {
  position: relative;

  width: 30%;
  height: 15rem;
  margin: 1rem 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem #dddeda;
  overflow: hidden;
}

.plant-item__cover {
  height: 8rem;
  overflow: hidden;

  text-align: center;
}

.plant-item__cover img {
  width: 100%;

  object-fit: cover;
}

.plant-item__price {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1000;

  padding: 0.5rem 1rem;
  border: 0.125rem solid #d7f4e6;
  border-radius: 0.5rem;

  color: white;
  font-weight: 700;

  background: #31b572;
}

.plant-item__infos {
  padding: 1rem;

  color: #1a613d;
}

.plant-item__title {
  margin: 0 0 1.25rem 0;
}

.plant-item__interactions {
  display: flex;
  justify-content: space-between;
}

.btn-add-to-cart {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.5rem #dddeda;

  color: white;
  font-weight: 700;

  background: #026178;
  transition: box-shadow 200ms, opacity 200ms, transform 200ms;

  cursor: pointer;
}

.btn-add-to-cart:hover {
  box-shadow: 0 0.25rem 1rem #dddeda;

  opacity: 0.85;
  transform: translateY(-0.125rem);
}

.plant-item__scales {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
